.about-us {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fcfaef;

  &--first {
    margin-bottom: 64px;
  }

  &__picture {
    background-image: url('src/images/sections/classics.jpg');
    background-repeat: no-repeat;
    height: 200px;
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__info {
    padding: 0 20px 48px;
    box-sizing: border-box;
  }

  &__description {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #1b2129;
  }
}
