@use '../utils/mixins' as *;

@mixin full-width-child {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.about-us {
  @include grid;

  grid-template-columns: minmax(280px, 1fr);
  background-color: #fcfaef;

  @include for-desktop {
    grid-template-columns: minmax(280px, 1fr);
  }

  @include full-width-child;

  &__picture {
    background-image: url('src/images/sections/about-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    margin-bottom: 48px;

    @include for-desktop {
      min-height: 460px;
      grid-column: 1 / -1;
      margin-bottom: 96px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include for-desktop {
      grid-column: span 7;
    }
  }

  &__info {
    padding: 0 20px 48px;
    box-sizing: border-box;

    @include grid;

    @include for-desktop {
      grid-column: 1 / -1;
      padding-bottom: 120px;
    }
  }

  &__description {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #1b2129;
    grid-column: 1 / -1;

    @include for-desktop {
      grid-column: span 5;
      justify-self: end;
    }
  }
}
