@use '../utils/mixins' as *;
@use '../base/colors' as *;

.address {
  grid-column: 1 / -1;

  @include for-desktop {
    grid-column: 8 / -1;
  }

  &__data:not(:last-of-type) {
    padding-bottom: 24px;
  }

  &__info {
    color: $address-info;

    &:hover {
      color: $address-hover;
    }
  }

  &__link {
    color: $address-info;
    text-decoration: none;

    &:hover {
      color: $address-hover;
    }
  }
}
