@use '../base/colors' as *;

.button {
  height: 56px;
  border-radius: 8px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 56px;
  text-decoration: none;
  text-align: center;
  color: $text-white;
  background-color: $button-primary;
  border: 0;

  &:hover {
    background-color: $button-secondary;
  }

  &:active {
    background-color: $button-active;
  }

  &--full {
    display: block;
  }
}
