@use '../utils/mixins' as *;

.categories {
  @include grid;

  margin-bottom: 96px;

  &__title {
    margin-bottom: 47px;
  }

  &__group {
    @include grid;

    margin-bottom: 40px;
    grid-column: span 2;
    gap: 16px 20px;

    @include for-desktop {
      grid-column: 1 / -1;
    }
  }

  &__item {
    width: 100%;
    position: relative;
    padding-top: 100%;

    @include for-desktop {
      grid-column: span 6;
    }
  }

  &__item-picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    border-radius: 4px;
  }

  &__button {
    grid-column: span 2;

    @include for-desktop {
      grid-column: span 4;
    }
  }
}
