.header {
  background-color: white;
  background-image: url('src/images/sections/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 40px;
  box-sizing: border-box;
}
