@use '../base/colors' as *;

.links {
  padding-top: 32px;

  &__item {
    padding-bottom: 32px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__link {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0;
    color: $text-primary;
    text-decoration: none;
    padding-bottom: 4px;
    display: inline-block;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $link-border;
    }
  }
}
