@use '../utils/mixins' as *;
@use '../base/colors' as *;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;

  @include for-desktop {
    padding: 36px 0;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__item {
    color: $text-primary;
  }

  &__item:first-child {
    padding-right: 24px;
  }

  &__item--hidden {
    opacity: 0;
  }
}
