@use '../utils/mixins' as *;

.phone {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;

  &__label {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1b2129;
  }

  &__icon {
    width: 18px;
    height: 18px;

    @include for-desktop {
      width: 24px;
      height: 24px;
    }
  }

  &:not(:hover) &__label {
    @include visually-hidden;
  }
}
