.title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;

  &--second {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1b2129;
  }

  &--third {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    color: #1b2129;
    padding: 24px 0 8px;
  }

  &--fourth {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    color: #1b2129;
  }

  &--fifth {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #9393a3;
    padding-bottom: 8px;
  }
}

.title--second,
.title--fourth {
  grid-column: 1 / -1;
}
