// Color variables
$orange: #f98921;
$dark-gunmetal: #1b2129;
$rich-black: #010810;
$eerie-black: #191919;
$gray: #7e7e83;
$manatee: #9393a3;
$floral-white: #fcfaef;
$ghost-white: #f9f9f9;
$white: #fff;

// Color config
$text-primary: $dark-gunmetal;
$text-white: $white;
$button-primary: $orange;
$button-secondary: $dark-gunmetal;
$button-active: $rich-black;
$form-field-background: $ghost-white;
$form-field-placeholder: $gray;
$form-focus: $orange;
$link-border: $dark-gunmetal;
$address-title: $manatee;
$address-info: $eerie-black;
$address-hover: $orange;
$about-us-background: $floral-white;
$menu-background: $ghost-white;
$header-title: $white;
